/*Large Screen*/
@media screen and (min-width: 768px) {
    header {
        background-color: #ffffff;
        color: white;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 20px 0px 20px;
        position: fixed;
        top: 0;
        width: 98%;
    }

    header img {
        height: 50px;
        width: 50px;
        margin-right: auto;
    }

    /* nav bar styling */
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        margin-right: 20px;
        padding: 20px;
        cursor: pointer;
        transition: transform 0.5s;
    }

    nav ul li a:link,
    nav ul li a:visited {
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        color: #2d0945;
        transition: background-color 0.3s;
    }

    nav ul li a:hover {
        background-color: #ffffff;
        transform: scale(1.1);
    }

    /* Adding | between every nav link */
    span {
        padding: 0px 5px;
        border-left: 1px solid #2d0945;
        display: inline-block;
    }

    /* removing border line from left side of Home nav link */
    li:first-child span {
        border-left: none;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }


    h1 {
        /*font-family: serif;*/
        font-size: 60px;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding-top: 10%;
    }

    h2 {
        font-family: "Cormorant Garamond";
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    footer {
        background-color: black;
        color: white;
        padding: 3px;
        text-align: left;
        padding-left: 5%;
    }

    footer p {
        font-size: small;
    }

    body,
    html {
        font-family: "Cormorant Garamond";
        margin: 0;
        padding-top: 50px;
    }

    #contact_us_own_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        /*width: 70vh;*/

    }

    #about_us_para {
        padding: 2vh 30vh 30vh 30vh;
    }

    #landing_tag {
        font-weight: lighter;
        font-size: 150%;
    }

    .landing_page_container {
        height: 100vh;
        /*width: 100vh;*/
        width: 100%;
    }

    #main_landing_page {
        /* Lighten the image opacity */
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
            url("../../../Hotel_Management_System/Images/video_of_rooms/Hotel_background_image.jpeg");
        background-size: auto;
        background-position: center;
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #contact_us_form {
        width: 80%;
        height: 50vh;
    }

    .aboutus_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
    }

    .about_para {
        width: 50%;
        text-align: center;
        margin: auto;
    }

    .contact_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
        padding-top: 0px;
    }

    .contact_box {
        border: 2px solid #2d0945;
        margin: 10px;
        padding: 20px;
        box-shadow: 1px 1px 3px 2px purple;
        width: 30%;
        margin: 25px 10px 20px 500px;
        background-color: #eaeaea88;
    }

    .about_us_box {
        margin: 10px;
        padding: 10px;
        float: left;
    }

    .selected_room {
        background-color: yellowgreen;
    }

    .contact_form_box {
        border: 2px solid #2d0945;
        margin: 10px;
        padding: 20px;
        box-shadow: 1px 1px 3px 2px purple;
        width: 30%;
        height: 320px;
        margin: 25px 10px 20px 500px;
        background-color: #eaeaea88;
    }

    .form-element {
        height: 35px;
        padding: auto;
        margin-bottom: 20px;
    }

    .form-label {
        width: 30%;
        float: left;
        font-size: 17px;
    }

    .form-control-container {
        width: 70%;
        float: left;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #5e9adf;
        transition: box-shadow 0.3s;
    }

    /* When the cursor is inside the form element, for eg. inside a text-box */
    .form-control:focus {
        box-shadow: 0px 0px 3px 2px #2b77be;
        outline: none;
    }

    .btn {
        background-color: #3c84be;
        color: white;
        padding: 10px 15px;
        /* top bottom is 10px, left and right is 15px */
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0px 0px 2px 1px #bdbbbb;
        /* no for top/bottom/right/left borders. 2px is blurness. 1 px is spread */
        transition: background-color 0.3s, box-shadow 0.3s;
        border: 1px solid #ebe8e8;
        margin: 2px;
    }

    .imgbtn {
        background-color: #9e9b9b;
        color: white;
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0px 0px 2px 1px #bdbbbb;
        transition: background-color 0.3s, box-shadow 0.3s;
        border: 1px solid #ebe8e8;
        margin: 35px 0px 50px 496.4px;
    }

    .btn:hover {
        background-color: #1869ac;
        box-shadow: 0px 0px 3px 3px #9e9b9b;
    }

    .reset-button {
        background-color: #ee3c3c;
    }

    .reset-button:hover {
        background-color: #c72727;
    }

    .contact-form-footer {
        padding: 10px;
        text-align: right;
    }

    .other_pages_main_header {
        font-size: 60px;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding-top: 20px;
    }

    .room-selection {
        /*width: 200px;*/
        width: 23%;
        height: 75%;
        /*overflow-y: scroll;*/
        border: 1px solid #000;
        position: absolute;
        left: 1vw;
        /*top: 25vh;*/
    }

    .rooms {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
        /* border: 1px solid #000; */
        position: absolute;
        /* left: 1vw; */
    }

    .date-in-selection {
        width: 23%;
        height: 75%;
        overflow-y: scroll;
        border: 1px solid #000;
        position: absolute;
        left: 26%;
        /*top: 25%;*/
    }

    .date-out-selection {
        width: 23%;
        height: 75%;
        overflow-y: scroll;
        border: 1px solid #000;
        position: absolute;
        left: 51%;
        /*top: 25%;*/
    }

    .additional-booking-selection {
        width: 23%;
        height: 75%;
        overflow-y: scroll;
        border: 1px solid #000;
        position: absolute;
        right: 1vw;
        /*top: 25%;*/
    }

    .room {
        padding: 10px;
        border-bottom: 1px solid #000;
    }

    .booking-mechanism {
        padding-top: 5vh;
        position: relative;
        height: 80%;
    }

    .photo-gallery {
        margin: 10px;
        padding: 20px;
        width: 30%;
        height: 320px;
        margin: 25px 10px 20px 500px;   
    }

    .photo {
        margin: 10px;
        cursor: pointer;
        transition: transform 0.5s;
        
    }

    .img-caption {
        text-align: center;
    }

    .photo:hover {
        transform: scale(0.95);
    }

    .mySlides {
        height: 400px;
        width: 500px;
        margin: 0px;
        padding:0px;
    }
    .facilities {
        padding: 30px;
        margin: auto;
    }

    .facility_image {
        height: 200px;
        width: 15%;
        float: left;
        padding: 30px;
        margin-right: 0px; 
    }
    .facility_para {
        float: left;
        padding-left: 0px;
        color: #2d0945;
        text-decoration: solid;
        
    }

    /*
    .scrolling-img {}
    */
}

/*Small Screen*/
@media screen and (max-width: 768px) {
    header {
        background-color: #ffffff;
        color: white;
        display: flex;
        padding: 10px 0 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #header_links {
        display: none;
    }

    header img {
        height: 50px;
        width: 50px;
        left: 5px;
        position: relative;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 1vh;
        padding-right: 1vh;
        text-align: justify;
    }

    #contact_us_form {
        /*width: 67vh;*/
        height: 20vh;
    }

    h1 {
        /*font-family: serif;*/
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
    }

    h2 {
        font-family: "Cormorant Garamond";
        font-size: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        margin-right: 20px;
    }

    footer {
        background-color: black;
        color: white;
        padding: 3px;
        text-align: left;
        padding-left: 5%;
    }

    body,
    html {
        font-family: "Cormorant Garamond";
        margin: 0;
        padding-top: 50px;
    }

    .landing_page_container {
        height: 92vh;
        /*width: 100vh;*/
        width: 100%;
    }

    #section1 {
        background-color: red;
        /*width: 100%;*/
    }

    #section2 {
        background-color: blue;
    }

    #section3 {
        background-color: green;
    }

    #section4 {
        background-color: yellow;
    }

    #section5 {
        background-color: purple;
    }
}


.swiper {
    width: 100%;
    height: 64%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 60%;
    height: 80%;
    object-fit: cover;
    margin: auto;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 40px;
    font-family: serif;
    color: #000000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #000000;
    background: #418f22;
}