/*Large Screen*/
@media screen and (min-width: 768px) {
    header {
        background-color: #ffffff;
        color: white;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 20px 0 20px;
        position: fixed;
        top: 0;
        width: 98%;
        z-index: 2;
        align-items: center;
    }

    header img {
        height: 50px;
        width: 50px;
        margin-right: auto;
    }

    /* nav bar styling */
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        /*margin-right: 20px;*/
        /*padding: 20px;*/
        cursor: pointer;
        transition: transform 0.5s;
    }

    #header-spacer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        width: 100%;
    }


    #header-links {

        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    nav ul li a:link,
    nav ul li a:visited {
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        color: #2d0945;
        transition: background-color 0.3s;
    }

    nav ul li a:hover {
        background-color: #ffffff;
        transform: scale(1.1);
    }

    /* Adding | between every nav link */
    span {
        padding: 0 5px;
        border-left: 1px solid #2d0945;
        display: inline-block;
    }

    /* removing border line from left side of Home nav link */
    li:first-child span {
        border-left: none;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }


    h1 {
        /*font-family: serif;*/
        font-size: 60px;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding: 10% 0 0;
    }

    h2 {
        font-family: "Cormorant Garamond", serif;
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    footer {
        background-color: black;
        color: white;
        text-align: left;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    footer p {
        font-size: small;
    }

    body,
    html {
        font-family: "Cormorant Garamond", serif;
        margin: 0;
        padding-top: 50px;
    }

    #contact_us_own_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        /*width: 70vh;*/

    }

    #landing_tag {
        font-weight: lighter;
        font-size: 150%;
        color: white;
    }

    .landing_page_container {
        height: 85vh;
        /*width: 100vh;*/
        width: 100%;
    }

    #main_landing_page {
        /* Lighten the image opacity */
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    }

    .booking-dates {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
        flex-wrap: nowrap;
        height: 85%;
    }

    .booking-date-selections {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        align-content: stretch;
        bottom: 20%;
        padding: 0 5% 0 5%;
    }

    h3.booking-dates-heading {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .addit-info-sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5% 0 2%
    }

    /*
    .addit-info-text {}
    */

    #main_landing_page {
        /* Lighten the image opacity */
        background-image: linear-gradient(rgb(255 255 255 / 7%), rgb(0 0 0 / 27%)),
    }

    #main_landing_page {
        /* Lighten the image opacity */
        background-image: linear-gradient(rgb(255 255 255 / 7%), rgb(0 0 0 / 27%)),
            url("../../../Hotel_Management_System/Images/video_of_rooms/Hotel_background_image.jpeg");
        background-size: cover;
        background-position: center;
        height: 88vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #contact_us_form {
        width: 80%;
        height: 50vh;
    }

    .aboutus_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
    }

    .about_para {
        width: 50%;
        text-align: center;
        margin: auto;

        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
    }

    .contact_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
        padding-top: 0;
    }

    .contact_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 30%;
        margin: auto;
    }

    .contact_form_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 30%;
        height: 320px;
        margin: 25px 10px 20px 500px;
        margin: auto;
        margin-top: 20px;
    }

    .about_us_box {
        margin: 30px;
        padding: 20px;
        float: left;
    }

    .selected_room {
        background-color: rgba(0, 84, 29, 0.38);
    }

    .form-element {
        height: 35px;
        /*padding: auto;*/
        margin-bottom: 20px;
    }

    .form-label {
        width: 30%;
        float: left;
        font-size: 17px;
    }

    .form-control-container {
        width: 70%;
        float: left;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #5e9adf;
        transition: box-shadow 0.3s;
    }

    /* When the cursor is inside the form element, for eg. inside a text-box */
    .form-control:focus {
        box-shadow: 0 0 3px 2px #2b77be;
        outline: none;
    }

    .btn {
        display: inline-block;
        background-color:  rgba(0, 84, 29, 0.38);
        color: black;
        text-transform: uppercase;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 2px 1px #bdbbbb;
        /* no for top/bottom/right/left borders. 2px is blurness. 1 px is spread */
        transition: background-color 0.3s, box-shadow 0.3s;
        border: 1px solid #ebe8e8;
        margin: 2px;
    }

    .btn:hover {
        background-color: #26690f;
        box-shadow: 0px 0px 3px 3px #9e9b9b;
    }

    .contact-form-footer {
        padding: 10px;
        text-align: right;
    }

    .other_pages_main_header {
        font-size: 60px;
        text-decoration-line: underline;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding: 20px 0 0;
    }

    .light-shadow {
        width: 30%;
        box-shadow: -3px 3px 6px 0 #0000004f;
    }


    .room-selection {
        width: 23%;
        height: 75%;
        /* border: 1px solid #000; */
        position: relative;
        background-color: #eaeaea88;
    }

    .rooms {
        background-color: #eaeaea88;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        overflow-y: scroll;
        position: absolute;
    }

    .stay-duration {
        width: 23%;
        height: 75%;
        /*overflow-y: scroll;*/
        /* border: 1px solid #000; */
        /*position: absolute;*/
        left: 26%;
        /*top: 25%;*/
        background-color: #eaeaea88;
    }

    .date-out-selection {
        width: 23%;
        height: 75%;
        /*overflow-y: scroll;*/
        border: 1px solid #000;
        /*position: absolute;*/
        left: 51%;
        /*top: 25%;*/
    }

    .additional-booking-selection {
        width: 23%;
        height: 75%;
        /*overflow-y: auto;*/
        border: 1px solid #000;
        /*position: absolute;*/
        right: 1vw;
        /*top: 25%;*/
        background-color: #eaeaea88;
    }
    select#room_type_select {
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 3%;
    }

    .booking-box-summary-container {
        display: flex;
        flex-direction: column;
        height: 89%;
        justify-content: space-between;
        overflow: auto;
    }

    .booking-box-summary.booking-box-summary-a {
        background: #e1e1e1;
    }

    .booking-box-summary {
        font-size: 18px;
        font-size: 1.2rem;
        padding: 5% 5% 5% 5%;
    }
    .additional-booking-selection-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 89%;
    }

    .room {
        padding: 10px;
        border-bottom: 1px solid #000;
        cursor: pointer;
    }

    .booking-box {
        width: 30%;
    }

    .soft-box {
        border-radius: 10px;
    }

    .booking-box {
        width: 30%;
    }

    .soft-box {
        border-radius: 10px;

    }

    #toggle-on {
        cursor: pointer;
    }

    #booking-in-date,
    #booking-out-date {
        cursor: text;
        font-size: 1.2rem;
    }

    .booking-mechanism {
        padding-top: 5vh;
        position: relative;
        height: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }

    .photo-gallery {
        /*margin: 10px;*/
        padding: 20px;
        width: 30%;
        height: 320px;
        margin: 25px 10px 20px 500px;
    }

    .photo {
        margin: 10px;
        cursor: pointer;
        transition: transform 0.5s;

    }

    .room:hover {
        font-size: large;
        font-weight: 400;

    }


    .img-caption {
        text-align: center;
    }

    .photo:hover {
        transform: scale(0.95);
    }

    .mySlides {
        height: 400px;
        width: 500px;
        margin: 0;
        padding: 0;

    }

    .facilities {
        padding: 30px;
        margin: auto;
    }

    .facility_image {
        height: 200px;
        width: 15%;
        float: left;
        padding: 30px;
        margin-right: 0;
    }

    .facility_para {
        float: left;
        padding-left: 0;
        color: #2d0945;
        text-decoration: solid;

    }

}

/*Small Screen*/
@media screen and (max-width: 768px) {
    header {
        background-color: #ffffff;
        color: white;
        display: flex;
        padding: 10px 0 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #header_links {
        display: none;
    }

    header img {
        height: 50px;
        width: 50px;
        left: 5px;
        position: relative;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 1vh;
        padding-right: 1vh;
        text-align: justify;
    }

    #contact_us_form {
        /*width: 67vh;*/
        height: 20vh;
    }

    h1 {
        /*font-family: serif;*/
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
    }

    h2 {
        font-family: "Cormorant Garamond", serif;
        font-size: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        margin-right: 20px;
    }

    footer {
        background-color: black;
        color: white;
        text-align: left;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

     
    }

    body,
    html {
        font-family: "Cormorant Garamond", serif;
        margin: 0;
        padding-top: 50px;
    }

    .landing_page_container {
        height: 92vh;
        /*width: 100vh;*/
        width: 100%;
    }

    #section1 {
        background-color: red;
        /*width: 100%;*/
    }

    #section2 {
        background-color: blue;
    }

    #section3 {
        background-color: green;
    }

    #section4 {
        background-color: yellow;
    }

    #section5 {
        background-color: purple;
    }
}

.swiper {
    width: 100%;
    height: 72vh;
}

.swiper-slide {
    display: flex;
    text-align: center;
    font-size: 18px;
    background: #fff;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 55vw;
    height: 55vh;
    margin-top: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
    cursor: pointer;
}

.image-shadow {
    box-shadow: -3px 3px 11px 1px #00000038;
}

:root {
    --swiper-theme-color: #0c4b22 !important;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

span.swiper-pagination-bullet {
    width: 5px;
    height: 16px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*animation: scrollDownAnimation 1s infinite linear;*/
.swiper-pagination-bullet-active {
    color: #fff;
    background: #37ce56;
}

.swiper-button-next,
.swiper-button-prev {
    /*background-color: #000;*/
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 10;
    animation: pulse;
    animation-duration: 10s;
    animation-timing-function: linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
    /*animation-delay: 10s;*/
    animation-iteration-count: infinite;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-image-container {
    position: relative;
}

.swiper-image-container:hover .swiper-image {
    transition-duration: 500ms;
    filter: blur(2px) opacity(0.5);
    cursor: grab;
}

.swiper-image-container:active .swiper-image {
    cursor: grabbing;
}

/*
This CSS rule targets the `.swiper-hover-text` class. It applies several properties to style the text box that appears when hovering over the swiper image:

- `position: absolute;` Positions the text box relative to the nearest positioned ancestor.
- `top: 50%;` and `left: 50%;` Positions the text box at the center of the ancestor.
- `transform: translate(-50%, -50%);` Moves the text box up and to the left by half of its own width and height.
- `color: #fff;` Sets the text color to white.
- `font-size: 24px;` Sets the font size of the text to 24 pixels.
- `text-align: justify;` Justifies the text.
- `opacity: 0;` Sets the initial opacity of the text box to 0.
- `transition: opacity 0.3s;` Adds a transition effect to the opacity property.
- `background-color: rgba(0, 0, 0, 0.5);` Sets the background color to a semi-transparent black.
- `z-index: 1;` Positions the text box above the swiper image.
- `border-radius: 6px;` Rounds the corners of the text box.
- `padding: 20px;` Adds space around the text.
- `width: 80%;` Sets the width of the text box to 80% of the ancestor.
*/
.swiper-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: justify;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(6, 44, 18, 0.82);
    /* Add a semi-transparent black background */
    z-index: 1;
    /* Ensure the text box is on top of the image */
    border-radius: 6px;
    padding: 20px;
    width: 80%;
    box-shadow: -3px 3px 11px 1px #00000045;
}

/*This code will change the opacity of the text box to 1 as to appear on hover*/
.swiper-image-container:hover .swiper-hover-text {
    transition-duration: 1000ms;
    opacity: 1;
    cursor: grab;
}

.swiper-image-container:active .swiper-hover-text {
    cursor: grabbing;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}