/*Large Screen*/
@media screen and (min-width: 768px) {

    /*Header styles*/
    header {
        /*The main bulk of the header style*/
        background-color: #ffffff;
        color: white;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 20px 0 20px;
        position: fixed;
        top: 0;
        width: 98%;
        z-index: 2;
        align-items: center;
    }

    #header-spacer {
        /* To separate the logo and nav links */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    header img {
        /* Logo  contained in header*/
        height: auto;
        width: 50px;
    }

    #header-links-container {
        /*container for all the nav links*/
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    /* nav bar styling */
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        cursor: pointer;
        transition: transform 0.5s;
    }

    nav ul li a:link,
    nav ul li a:visited {
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        color: #2d0945;
        transition: background-color 0.3s;
    }

    nav ul li a:hover {
        background-color: #ffffff;
        transform: scale(1.1);
    }

    /* Adding | between every nav link */
    span {
        padding: 0 5px;
        border-left: 1px solid #2d0945;
        display: inline-block;
    }

    /* removing border line from left side of Home nav link */
    li:first-child span {
        border-left: none;
    }

    h1 {
        /*font-family: serif;*/
        font-size: 60px;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding: 10% 0 0;
    }

    h2 {
        font-family: serif;
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    footer {
        background-color: black;
        color: white;
        text-align: left;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    footer p {
        font-size: small;
        padding-left: 2%;
    }

    /*Main body styling*/
    body,
    html {
        font-family: "Cormorant Garamond", serif;
        margin: 0;
        padding-top: 50px;
    }

    #main_landing_page {
        /* Lighten the image opacity */
        background-image: linear-gradient(rgb(255 255 255 / 7%), rgb(0 0 0 / 27%)),
            url("../../Images/video_of_rooms/Hotel_background_image.jpeg");
        background-size: cover;
        background-position: center;
        height: 88vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #landing_tag {
        /*The small text under the 'welcome to..'*/
        font-weight: lighter;
        font-size: 150%;
        color: rgba(255, 255, 255, 0.71);
    }

    /*GENERAL STYLING*/
    /*used on most pages*/
    .landing_page_container {
        height: 85vh;
        width: auto;
    }

    /*used on most pages to change h1*/
    .other_pages_main_header {
        font-size: 60px;
        text-decoration-line: underline;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding: 20px 0 0;
    }

    #contact_us_form {
        width: 80%;
        height: 50vh;
    }

    .contact_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
        padding-top: 0;
    }

    .contact_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 60%;
        margin: auto;
    }

    .contact_form_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 60%;
        height: 320px;
        margin: 25px 10px 20px 500px;
        margin: auto;
        margin-top: 20px;
        height: 40%;
    }

    /* When the cursor is inside the form element, for eg. inside a text-box */
    .form-control:focus {
        box-shadow: 0px 0px 3px 2px #2b77be;
        outline: none;
    }

    .date-out-selection {
        width: 23%;
        height: 75%;
        overflow-y: scroll;
        border: 1px solid #000;
        position: absolute;
        left: 51%;
        /*top: 25%;*/
    }

    .additional-booking-selection {
        width: 23%;
        height: 75%;
        overflow-y: scroll;
        border: 1px solid #000;
        position: absolute;
        right: 1vw;
        /*top: 25%;*/
    }

    .photo-gallery {
        margin: 10px;
        padding: 20px;
        width: 30%;
        height: 320px;
        margin: 25px 10px 20px 500px;
    }

    .photo {
        margin: 10px;
        cursor: pointer;
        transition: transform 0.5s;

    }

    .img-caption {
        text-align: center;
    }

    .photo:hover {
        transform: scale(0.95);
    }

    .mySlides {
        height: 400px;
        width: 500px;
        margin: 0px;
        padding: 0px;
    }

    .facilities {
        padding: 30px;
        margin: auto;
    }

    .facility_image {
        height: 200px;
        width: 15%;
        float: left;
        padding: 30px;
        margin-right: 0px;
    }

    .facility_para {
        float: left;
        padding-left: 0px;
        color: #2d0945;
        text-decoration: solid;

    }

    .btn {
        display: inline-block;
        background-color: rgba(0, 84, 29, 0.38);
        color: black;
        text-transform: uppercase;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 2px 1px #bdbbbb;
        /* no for top/bottom/right/left borders. 2px is blurness. 1 px is spread */
        transition: background-color 0.3s, box-shadow 0.3s;
        border: 1px solid #ebe8e8;
        margin: 2px;

    }

    .imgbtn {
        background-color: #9e9b9b;
        color: white;
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0px 0px 2px 1px #bdbbbb;
        transition: background-color 0.3s, box-shadow 0.3s;
        border: 1px solid #ebe8e8;
        margin: 35px 0px 50px 496.4px;
    }

    .btn:hover {
        background-color: #26690f;
        box-shadow: 0px 0px 3px 3px #9e9b9b;
    }

    .contact-form-footer {
        padding: 10px;
        text-align: right;
    }

    .other_pages_main_header {
        font-size: 60px;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding-top: 20px;
    }

    /*Book Now styling*/
    .booking-mechanism {
        /*Contains the three booking boxes*/
        padding-top: 7vh;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        height: 70vh;
    }

    .soft-box {
        /*Used for a few boxes to give them curved edges*/
        border-radius: 10px;
    }

    .booking-box {
        /*use to set for appropriate width for distribution*/
        width: 30%;
    }

    .light-shadow {
        /*Used for a generic shadow effect, rather subtle*/
        /*width: 30%;*/
        box-shadow: -3px 3px 6px 0 #0000004f;
    }

    /*------ Duration of stay ------*/
    .stay-duration {
        /*used to style the box for 'duration'*/
        height: 75%;
        /*left: 26%;*/
        background-color: #eaeaea88;
    }

    .booking-dates {
        /*used as a container for the dates and room types*/
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
        flex-wrap: nowrap;
        height: 85%;
    }

    .booking-date-selections {
        /*Used to space and set the calendar and room types*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        align-content: stretch;
        bottom: 20%;
        padding: 0 5% 0 5%;
    }

    h3.booking-dates-heading {
        /*used for the headers of both in and out dates*/
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #booking-in-date,
    #booking-out-date {
        cursor: text;
        font-size: 1.2rem;
    }

    select#room_type_select {
        /*used to style the dropdown box for the room type*/
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 3%;
    }

    .booking-dates-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*------ Selection Of Room ------*/
    .room-selection {
        /*Used to style the box which holds the various rooms*/
        /*width: 23%;*/
        height: 75%;
        /* border: 1px solid #000; */
        position: relative;
        background-color: #eaeaea88;
    }

    .all_rooms_container {
        /*The container for all the individual rooms*/
        background-color: #eaeaea88;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        overflow-y: scroll;
        position: absolute;
    }

    .room {
        /*Each individual room*/
        padding: 2.2vh 4%;
        border-bottom: 1px solid #000;
        cursor: pointer;
        display: none;
    }

    /*------ Summary of Booking------*/
    .booking-box-summary-container {
        /*This will hold all the individual divs for each summary point*/
        display: flex;
        flex-direction: column;
        height: 91%;
        justify-content: space-between;
        overflow: auto;
        /* display: block; */
    }

    .booking-box-summary.booking-box-summary-a {
        /*Just adds a darker colour per every other line*/
        background: #e1e1e1;
    }

    .booking-box-summary {
        /*Styling for each line of text within the booking summary*/
        font-size: 1.2rem;
        padding: 2.6vh 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div#book-now-page-checkout-button {
        /*style for the button at the end of the summary*/
        display: flex;
        justify-content: center;
    }

    .reception_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
        padding-top: 0px;
    }

    .card-header {
        background-color: #9b9696;
        padding: 10px 18px;
    }

    .card-body {
        padding: 18px;
    }

    .card-footer {
        padding: 10px;
        text-align: right;
        background-color: #d1cdcd;
    }

    .card-container {
        height: 350px;
    }

    .about_us_box {
        margin: 10px;
        padding: 10px;
        float: left;
    }

    .dropbtn {
        background-color: purple;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #a428f7;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }


    .selected_room {
        background-color: yellowgreen;
    }

    .signup-card {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        width: 700px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 90px;
        background-color: #eaeaea88;
    }

    .form-element {
        height: 35px;
        padding: auto;
        margin-bottom: 20px;
    }

    .form-label {
        width: 30%;
        float: left;
        font-size: 17px;
    }

    .form-control-container {
        width: 70%;
        float: left;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #5e9adf;
        transition: box-shadow 0.3s;
        margin-top: 3%;
    }
}

/*Small Screen*/
@media screen and (max-width: 768px) {
    header {
        background-color: #ffffff;
        color: white;
        display: flex;
        padding: 10px 0 10px 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #header_links {
        display: none;
    }

    header img {
        height: 50px;
        width: 50px;
        left: 5px;
        position: relative;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 1vh;
        padding-right: 1vh;
        text-align: justify;
    }

    #contact_us_form {
        /*width: 67vh;*/
        height: 20vh;
    }

    h1 {
        /*font-family: serif;*/
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
    }

    h2 {
        font-family: "Cormorant Garamond";
        font-size: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        margin-right: 20px;
    }

    footer {
        background-color: black;
        color: white;
        padding: 3px;
        text-align: left;
        padding-left: 5%;
    }

    body,
    html {
        font-family: "Cormorant Garamond";
        margin: 0;
        padding-top: 50px;
    }

    .landing_page_container {
        height: 92vh;
        /*width: 100vh;*/
        width: 100%;
    }

    #section1 {
        background-color: red;
        /*width: 100%;*/
    }

    #section2 {
        background-color: blue;
    }

    #section3 {
        background-color: green;
    }

    #section4 {
        background-color: yellow;
    }

    #section5 {
        background-color: purple;
    }
}