/*Generic booking box code start*/
.light-shadow {
    /*Used for a generic shadow effect, rather subtle*/
    /*width: 30%;*/
    box-shadow: -3px 3px 6px 0 #0000004f;
}

.soft-box {
    /*Used for a few boxes to give them curved edges*/
    border-radius: 10px;
}

.booking-box-summary.booking-box-summary-a {
    /*Just adds a darker colour per every other line*/
    background: #e1e1e1;
}
/*Generic booking box code end*/


/*Large Screen*/
@media screen and (min-width: 768px) {

    /*Header styles*/
    header {
        /*The main bulk of the header style*/
        background-color: #ffffff;
        color: white;
        display: flex;
        justify-content: space-evenly;
        padding: 20px 20px 0 20px;
        position: fixed;
        top: 0;
        width: 98%;
        z-index: 2;
        align-items: center;
    }

    #header-spacer {
        /* To separate the logo and nav links */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    header img {
        /* Logo  contained in header*/
        height: auto;
        width: 50px;
        /*margin-right: auto;*/
    }

    #header-links-container {
        /*container for all the nav links*/
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    /* nav bar styling */
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        cursor: pointer;
        transition: transform 0.5s;
    }

    nav ul li a:link,
    nav ul li a:visited {
        padding: 10px 20px;
        text-decoration: none;
        display: inline-block;
        color: #2d0945;
        transition: background-color 0.3s;
    }

    nav ul li a:hover {
        background-color: #ffffff;
        transform: scale(1.1);
    }

    /* Adding | between every nav link */
    span {
        padding: 0 5px;
        border-left: 1px solid #2d0945;
        display: inline-block;
    }

    /* removing border line from left side of Home nav link */
    li:first-child span {
        border-left: none;
    }

    /*Footer styles*/
    footer {
        background-color: black;
        color: white;
        text-align: left;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    footer p {
        font-size: small;
        padding-left: 2%;
    }

    /*Main body styling*/
    body,
    html {
        font-family: serif;
        margin: 0;
        padding-top: 50px;
    }

    #main_landing_page {
        /* Lighten the image opacity */
        background-image: linear-gradient(rgb(255 255 255 / 7%), rgb(0 0 0 / 27%)),
            url("../../Images/video_of_rooms/Hotel_background_image.jpeg");
        background-size: cover;
        background-position: center;
        height: 88vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #landing_tag {
        /*The small text under the 'welcome to..'*/
        font-weight: lighter;
        font-size: 150%;
        color: rgba(255, 255, 255, 0.71);
    }

    /*GENERAL STYLING*/
    /*used on most pages*/
    .landing_page_container {
        height: 85vh;
        width: auto;
    }

    .landing_page_container_booking {
        height: 85vh;
        width: auto;
    }
    /*used on most pages to change h1*/
    .other_pages_main_header {
        font-size: 60px;
        text-decoration-line: underline;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding: 20px 0 0;
    }

    /*Book Now styling*/
    .booking-mechanism {
        /*Contains the three booking boxes*/
        padding-top: 7vh;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        height: 70vh;
    }



    .booking-box {
        /*use to set for appropriate width for distribution*/
        width: 30%;
    }



    /*------ Duration of stay ------*/
    .stay-duration {
        /*used to style the box for 'duration'*/
        height: 75%;
        /*left: 26%;*/
        background-color: #eaeaea88;
    }

    .booking-dates {
        /*used as a container for the dates and room types*/
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
        flex-wrap: nowrap;
        height: 85%;
    }

    .booking-date-selections {
        /*Used to space and set the calendar and room types*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        align-content: stretch;
        bottom: 20%;
        padding: 0 5% 0 5%;
    }

    h3.booking-dates-heading {
        /*used for the headers of both in and out dates*/
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #booking-in-date,
    #booking-out-date {
        cursor: text;
        font-size: 1.2rem;
    }

    select#room_type_select {
        /*used to style the dropdown box for the room type*/
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 3%;
    }

    .booking-dates-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*------ Selection Of Room ------*/
    .room-selection {
        /*Used to style the box which holds the various rooms*/
        /*width: 23%;*/
        height: 75%;
        /* border: 1px solid #000; */
        position: relative;
        background-color: #eaeaea88;
    }

    .all_rooms_container {
        /*The container for all the individual rooms*/
        background-color: #eaeaea88;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        overflow-y: scroll;
        position: absolute;
    }

    .room {
        /*Each individual room*/
        padding: 2.2vh 4%;
        border-bottom: 1px solid #000;
        cursor: pointer;
        display: none;
    }

    /*------ Summary of Booking------*/
    .booking-box-summary-container {
        /*This will hold all the individual divs for each summary point*/
        display: flex;
        flex-direction: column;
        height: 82%;
        justify-content: space-between;
        overflow: auto;
        /* display: block; */
    }



    .booking-box-summary {
        /*Styling for each line of text within the booking summary*/
        font-size: 1.2rem;
        padding: 2.6vh 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div#book-now-page-checkout-button {
        /*style for the button at the end of the summary*/
        display: flex;
        justify-content: center;
    }


    /*Gallery Styling*/
    /*----- The code below is for the facilities -----*/
    .gallery_facilities {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .gallery_facilities img {
        height: 55vh;
    }
    .gallery_facilities h1 {
        padding: 10% 0 3% 0;
    }
    .gallery_facilities p {
        width: 33vw;
        text-align: justify;
        font-size: larger;
        padding-left: 5%;
    }
    .gallery_facilities_img_text_container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        width: 75vw;
    }
    /*-------- PROGRESS LINE --------*/

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }


    h1 {
        /*font-family: serif;*/
        font-size: 60px;
        margin: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
        padding: 10% 0 0;
    }

    h2 {
        font-family: "Cormorant Garamond", serif;
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    #contact_us_own_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        /*width: 70vh;*/

    }


    .addit-info-sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5% 0 2%
    }

    #contact_us_form {
        width: 80%;
        /*height: 50vh;*/
    }


    .aboutus_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
    }

    .about_para {
        width: 60%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
    }

    #scroll_btn {
        margin-left: 50%;
    
    }

    .contact_sub_heading {
        font-weight: lighter;
        justify-content: center;
        text-align: center;
        padding-top: 0;
    }

    .contact_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 60%;
        margin: auto;
    }

    .contact_form_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 60%;
        height: 320px;
        margin: 25px 10px 20px 500px;
        margin: auto;
        margin-top: 20px;
        height: 50%;
        overflow-y: auto;
    }

    .about_us_box {
        margin: 30px;
        padding: 20px;
        float: left;
    }

    .selected_room {
        background-color: rgba(0, 84, 29, 0.38);
    }

    .form-element {
        height: 35px;
        padding: auto;
        margin-bottom: 20px;
    }

    .form-label {
        width: 30%;
        float: left;
        font-size: 17px;
    }

    .form-control-container {
        width: 70%;
        float: left;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #5e9adf;
        transition: box-shadow 0.3s;
        margin-top: 3%;
    }

    /* When the cursor is inside the form element, for eg. inside a text-box */
    .form-control:focus {
        box-shadow: 0 0 3px 2px #2b77be;
        outline: none;
    }

    .btn {
        display: inline-block;
        background-color: rgba(0, 84, 29, 0.38);
        color: black;
        text-transform: uppercase;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 0 2px 1px #bdbbbb;
        /* no for top/bottom/right/left borders. 2px is blurness. 1 px is spread */
        transition: background-color 0.3s, box-shadow 0.3s;
        border: 1px solid #ebe8e8;
        margin: 2px;
    }

    .btn:hover {
        background-color: #26690f;
        box-shadow: 0 0 3px 3px #9e9b9b;
    }

    .contact-form-footer {
        padding: 10px;
        text-align: right;
    }

    .date-out-selection {
        width: 23%;
        height: 75%;
        /*overflow-y: scroll;*/
        border: 1px solid #000;
        /*position: absolute;*/
        left: 51%;
        /*top: 25%;*/
    }

    .additional-booking-selection {
        width: 23%;
        height: 75%;
        /*overflow-y: auto;*/
        border: 1px solid #000;
        /*position: absolute;*/
        right: 1vw;
        /*top: 25%;*/
        background-color: #eaeaea88;
    }

    .additional-booking-selection-container {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 89%;
    }

    #toggle-on {
        cursor: pointer;
    }

    .photo-gallery {
        /*margin: 10px;*/
        padding: 20px;
        width: 30%;
        height: 320px;
        margin: 25px 10px 20px 500px;
    }

    .photo {
        margin: 10px;
        cursor: pointer;
        transition: transform 0.5s;

    }

    .room:hover {
        font-size: large;
        font-weight: 400;

    }

    .img-caption {
        text-align: center;
    }

    .photo:hover {
        transform: scale(0.95);
    }

    .mySlides {
        height: 400px;
        width: 500px;
        margin: 0;
        padding: 0;

    }

    .facilities {
        padding: 30px;
        margin: auto;
    }

    .facility_image {
        height: 200px;
        width: 15%;
        float: left;
        padding: 30px;
        margin-right: 0;
    }

    .facility_para {
        float: left;
        padding-left: 0;
        color: #2d0945;
        text-decoration: solid;

    }

}

/*Small Screen*/
@media screen and (max-width: 768px) {
    em {
        padding-left: 2%;
    }

    /*Header Code Start*/
    header {
        background-color: #ffffff;
        color: white;
        display: flex;
        padding: 10px 10px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    #header-spacer {
        /* To separate the logo and nav links */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        width: 100%;
    }
    #hamburger{
        display:inline-block;
        float:right;
        padding: 12px;
        background-color: rgba(12, 75, 34, 0.24);
        border: rgba(12, 75, 34, 0.32) 2.5px solid;
        color: black;
        margin-right: 3%;
        border-radius: 8%;
    }
    #hamburger:hover{
        cursor: pointer;
    }
    #header-links-container{
        /*height: 0;*/
        /*overflow: hidden;*/
    }
    #header-links-container {
        /*display: none;*/
    }
    #header_links {
        display: none;
        /* other styles */
    }
    #header_links.showNav {
        display: flex;
        position: absolute;
        /* other styles */
        flex-direction: column;
        align-items: flex-start;
        /*border: black 2px solid;*/
        right: 2%;
        top: 100%;
        background: white;
        padding: 2%;
    }
    #header_links.showNav li {
        padding: 2%;
    }
    #header-links li {
        padding: 5%
        /* other styles */
    }
    .fa-solid, .fas {
        font-weight: 900;
        font-size: x-large;
    }
    header img {
        height: 50px;
        width: 50px;
        left: 5px;
        position: relative;
    }
    /*Header Code Stop*/

    /*Index code Start*/
    #main_landing_page {
        /* Lighten the image opacity */
        background-image: linear-gradient(rgb(255 255 255 / 7%), rgb(0 0 0 / 27%)),
        url("../../Images/video_of_rooms/Hotel_background_image.jpeg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2#landing_tag {
        color: white;
    }
    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 1vh;
        padding-right: 1vh;
        text-align: justify;
    }
    /*Index code End*/

    /*contact us code start*/
    #contact_us_form {
        /*width: 67vh;*/
        height: 20vh;
    }

    h1.other_pages_main_header{
        margin-top: 15%;
        font-size: xxx-large;
    }
    h4.contact_sub_heading {
        text-align: center;
        margin: 1%;
        font-size: x-large;
    }

    .contact_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 60%;
        margin: auto;
    }
    #contact_form_box_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #contact_form_box_wrapper h3{
        padding-left: 3%;
    }
    input#name, input#email, input#mobile {
        width: 100%;
        font-size: x-large;
        margin-bottom: 7%;
    }
    textarea#message{
        width: 100%;
    }
    .form-label label {
        font-size: x-large;
    }

    .contact_form_box {
        border: 2px solid rgba(7, 202, 75, 0.38);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.38);
        border-radius: 10px;
        background-color: #eaeaea88;
        padding: 20px;
        width: 60%;
        /*height: 320px;*/
        /*margin: 25px 10px 20px 500px;*/
        margin: auto;
        margin-top: 20px;
        height: 70%;
    }

    button#contact_submit_btn, button#contact_reset_btn {
        padding: 3%;
    }


/*contact us code end*/

/*Booking code starts*/

    /*------ Booking boxes------*/
    .booking-mechanism{
        margin: 0 12%;
        padding: 4% 0 0 0 ;
    }
    .stay-duration{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 55vh;
    }
    .stay-duration h2{
        width: 100%;
    }
    .booking-date-selections{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #booking-in-date, #booking-out-date,  #room_type_select, #bookingbtn{
        width: 70vw;
        font-size: large;
    }
    .booking-box{
        margin-top: 5%;
    }

    .room {
        /*Each individual room*/
        padding: 2.2vh 4%;
        border-bottom: 1px solid #000;
        cursor: pointer;
        display: none;
    }

    .all_rooms_container {
        /*The container for all the individual rooms*/
        background-color: #eaeaea88;
        display: flex;
        flex-direction: column;
        width: 76vw;
        height: -webkit-fill-available;
        overflow-y: scroll;
        position: absolute;
    }
    .room-selection {
        /*Used to style the box which holds the various rooms*/
        /*width: 23%;*/
        height: 54vh;
        /* border: 1px solid #000; */
        position: relative;
        background-color: #eaeaea88;
    }

    /*------ Summary of Booking------*/
    .booking-box-summary-container {
        /*This will hold all the individual divs for each summary point*/
        display: flex;
        flex-direction: column;
        height: 91%;
        justify-content: space-between;
        overflow: auto;
        /* display: block; */
    }

    .booking-box-summary {
        /*Styling for each line of text within the booking summary*/
        font-size: 1.2rem;
        padding: 2.6vh 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    div#book-now-page-checkout-button {
        /*style for the button at the end of the summary*/
        display: flex;
        justify-content: center;
    }

    .landing_page_container_booking {
        height: 206vh;
        /*width: 100vh;*/
        width: 100%;
    }
    .booking-date-selections h3{
        font-size: x-large;
    }
    #reserve_room_btn{
        font-size: large;
    }
    /*------ Customer Details------*/
    #guest, #firstname, #lastname, #mobile, #email{
        width: 100%;
        font-size: large;
        /*margin-bottom: 5%*/
    }
    #details_submit_btn, #contact_reset_btn{
        padding: 3%;
        font-size: larger;
        width: 40%;
    }

    .contact-form-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form-element{
        padding: 1% 0;
    }
    .landing_page_container_pay_proc{
        width: 100%;
        height: 230vh;
    }

    /*booking code ends*/

    h1 {
        /*font-family: serif;*/
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        flex-wrap: wrap;
        font-weight: 150;
    }

    h2 {
        font-family: "Cormorant Garamond", serif;
        font-size: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 100;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #landing_page_about_us {
        padding-top: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        margin-right: 20px;
    }

    footer {
        background-color: black;
        color: white;
        text-align: left;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;


    }

    body,
    html {
        font-family: "Cormorant Garamond", serif;
        margin: 0;
        /*padding-top: 50px;*/
    }

    .landing_page_container {
        height: 92vh;
        /*width: 100vh;*/
        width: 100%;
    }

    #section1 {
        background-color: red;
        /*width: 100%;*/
    }

    #section2 {
        background-color: blue;
    }

    #section3 {
        background-color: green;
    }

    #section4 {
        background-color: yellow;
    }

    #section5 {
        background-color: purple;
    }
}

.open_page{
    font-size: larger;
    font-weight: bold;
}

.swiper {
    width: 100%;
    height: 72vh;
}

.swiper-slide {
    display: flex;
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.swiper-slide h1 {
    font-size: 45px;
    /* Makes the header per slider a little smaller than other h1's*/
    padding: 16px 0 0;
}

.swiper-slide img {
    display: block;
    width: 55vw;
    height: 55vh;
    margin-top: 20px;
    object-fit: cover;
    object-position: center;
    border-radius: 22px;
    cursor: pointer;
}

.image-shadow {
    box-shadow: -3px 3px 11px 1px #00000038;
}

:root {
    --swiper-theme-color: #0c4b22 !important;
}

.swiper-pagination-bullet {
    /*width: 20px;*/
    /*height: 20px;*/
    text-align: center;
    /*line-height: 20px;*/
    font-size: 28px;
    color: #000;
    /*opacity: 1;*/
    background: rgba(0, 0, 0, 0.2);
}

span.swiper-pagination-bullet {
    width: 2.5vw;
    height: auto;
    padding: 2px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*animation: scrollDownAnimation 1s infinite linear;*/
.swiper-pagination-bullet-active {
    color: #fff;
    background: #37ce56;
}

.swiper-pagination-bullet {
    border-radius: 10% !important;
}

.swiper-button-next,
.swiper-button-prev {
    /*background-color: #000;*/
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 10;
    animation: pulse;
    animation-duration: 10s;
    animation-timing-function: linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
    /*animation-delay: 10s;*/
    animation-iteration-count: infinite;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-image-container {
    position: relative;
}

.swiper-image-container:hover .swiper-image {
    transition-duration: 500ms;
    filter: blur(2px) opacity(0.5);
    cursor: grab;
}

.swiper-image-container:active .swiper-image {
    cursor: grabbing;
}

/*
This CSS rule targets the `.swiper-hover-text` class. It applies several properties to style the text box that appears when hovering over the swiper image:

- `position: absolute;` Positions the text box relative to the nearest positioned ancestor.
- `top: 50%;` and `left: 50%;` Positions the text box at the center of the ancestor.
- `transform: translate(-50%, -50%);` Moves the text box up and to the left by half of its own width and height.
- `color: #fff;` Sets the text color to white.
- `font-size: 24px;` Sets the font size of the text to 24 pixels.
- `text-align: justify;` Justifies the text.
- `opacity: 0;` Sets the initial opacity of the text box to 0.
- `transition: opacity 0.3s;` Adds a transition effect to the opacity property.
- `background-color: rgba(0, 0, 0, 0.5);` Sets the background color to a semi-transparent black.
- `z-index: 1;` Positions the text box above the swiper image.
- `border-radius: 6px;` Rounds the corners of the text box.
- `padding: 20px;` Adds space around the text.
- `width: 80%;` Sets the width of the text box to 80% of the ancestor.
*/
.swiper-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(6, 44, 18, 0.82);
    /* Add a semi-transparent black background */
    z-index: 1;
    /* Ensure the text box is on top of the image */
    border-radius: 6px;
    padding: 20px;
    width: 80%;
    box-shadow: -3px 3px 11px 1px #00000045;
}

/*This code will change the opacity of the text box to 1 as to appear on hover*/
.swiper-image-container:hover .swiper-hover-text {
    transition-duration: 1000ms;
    opacity: 1;
    cursor: grab;
}

.swiper-image-container:active .swiper-hover-text {
    cursor: grabbing;
}

textarea {
    resize: none;
    overflow: auto;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }

    90% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
